<ul class="rm">
    <li class="rm-item">
        <a class="rmRef contentAjaxRef" href="{% url 'feed:feed' 'tan' %}">Thoughts&News</a>
    </li>
    <li class="rm-item">
        <a class="rmRef contentAjaxRef" href="{% url 'feed:feed' 'r' %}">Recommended</a>
    </li>
    <li class="rm-item">
        <a class="rmRef contentAjaxRef" href="{% url 'feed:feed' 't' %}">Thoughts</a>
    </li>
    <li class="rm-item">
        <a class="rmRef contentAjaxRef" href="{% url 'feed:feed' 'n' %}">News</a>
    </li>
</ul> 