<div id="feedBox">
    <div class="createThoughtBox text-centered">
        <a href="#createThoughtWindow" data-toggle="modal" class="createThought">Create new thought</a>
    </div>

    <div class="note">
        <pre class="noteText">
I heard you told your friends that I'm just not your type
If that's how you really feel, then why'd you call last night?
You say all I ever do is just control your life
But how you gonna lie like that, how you gonna lie like that?
Yeah, I heard you said I ain't the type for you
I don't regret it though, I learned from it
They should have you locked up for all the time you stole from us
Took you out when I had no money
Only person that you ever cared about was you, that's why it's so funny
You want somebody that'll keep you warm at night, then tell me, why you actin' cold to me?
You ain't the only one to blame no one
The one that made you rich when I bought every lie you sold to me
Yeah, heard you threw away the pictures 
{{ note }}
        </pre>
    </div>
    <div class="note">
        <pre class="noteText">
I heard you told your friends that I'm just not your type
If that's how you really feel, then why'd you call last night?
You say all I ever do is just control your life
But how you gonna lie like that, how you gonna lie like that?
Yeah, I heard you said I ain't the type for you
I don't regret it though, I learned from it
They should have you locked up for all the time you stole from us
Took you out when I had no money
Only person that you ever cared about was you, that's why it's so funny
You want somebody that'll keep you warm at night, then tell me, why you actin' cold to me?
You ain't the only one to blame no one
The one that made you rich when I bought every lie you sold to me
Yeah, heard you threw away the pictures 
{{ note }}
        </pre>
    </div>
</div>


{% include "modals/create_Thought_Modal_PC.html" %}